<h1>Tic Tac Toe</h1>
<a href="{{ path('start', {'size': '50px'}) }}">50px</a>
<a href="{{ path('start', {'size': '100px'}) }}">100px</a>
<a href="{{ path('start', {'size': '150px'}) }}">150px</a>
<a href="{{ path('start', {'size': '200px'}) }}">200px</a>
<a href="{{ path('start', {'size': '250px'}) }}">250px</a>